<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>

hi?


<form action="/api/card/create" method="post" enctype="multipart/form-data">
    <input type="text" name="memberId" id="memberId">
    <input type="text" name="title" id="title">
    <input type="text" name="content" id="content">
    <input type="file" name="attachFile" id="attachFile">
    <input type="submit" value="upload" />


</form>

</body>
</html>